<div class="jumbotron">
<div class="card" style="width: 18rem;">
  <div class="card-header">
    {{name}}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">District: {{state}} {{district}}</li>
    <li class="list-group-item">Party: {{party}}</li>
    <li class="list-group-item">Gender: {{gender}}</li>
    <li class="list-group-item">CRP ID: 
        <span id="currentRepID">
            {{crpid}}
        </span>
    </li>
  </ul>
  
</div>

<hr>

<canvas id="myChart" width="100" height="100"></canvas>


</div>

<script src="/assets/js/donor.js"></script>
